<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<add key="ShmooSuperseed" value=".\Shared\Common\Supersedes\code" />
		<add key="Prime" value="I:\tpapps\tmmlibs\prime\prime_v11.01.01-evg5040603-tos31000\lib\NuGets" />
		<add key="PrimeFeed" value="\\amr.corp.intel.com\ec\proj\mpe\MIT_ATE_TM\NuGets" />
		<add key="TRACE" value="\\amr.corp.intel.com\ec\proj\MDO\Global\MIG\TRACE\Nuget\Prod" />
	</packageSources>
	<config>
		<add key="globalPackagesFolder" value=".\temp\packages" />
	</config>
</configuration>